<!-- 詳細 -->
<h2 class="text-center mt-4"><%= @article.title %></h2>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-8 mt-4">
      <div class="card text-center shadow mb-5 bg-white rounded">
        <div class="card-header font-italic">
          投稿者:<%= @article.user.username if @article.user %>
          <%= link_to gravatar_for(@article.user), user_path(@article.user) %>
          <% if @article.categories.any? %>
          <!-- memo なんでこの書き方(@article.categories)で_categoryが反映される？-->
            <div class="mt-2"><%= render @article.categories%></div>
          <% end %>
        </div>
        <div class="card-body">
          <div class="card-text text-left"><%= simple_format(@article.description) %></div>
          <% if logged_in? && (@article.user == current_user || current_user.admin?) %>
            <%= link_to "編集", edit_article_path(@article), class: "btn btn-outline-info" %>
            <%= link_to "削除", article_path(@article), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
          <% end %>
        </div>
        <div class="card-footer text-muted">
          <small>作成 <%= time_ago_in_words(@article.created_at) %> 前, 
          編集 <%= time_ago_in_words(@article.updated_at) %> 前</small>
        </div>
      </div>
    </div>
  </div>
</div>